//$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
}

$green: #117d0f;
$yellow: #ffab00;
$red: #9c0101;

#hexagon {
  position: relative;
  width: 70vmin;
  height: 59.1vmin;
  margin: 0 auto;
  transform: scale(0,0) rotate(-540deg);
  transition: transform 2s ease;
  svg {
    position: absolute;
    width: 48.95%;
    font-family: verdana,geneva,sans-serif;
    opacity: 0;
    transition: opacity .5s;
    text {
      fill: white;
      font-family: Arial, sans-serif;
      opacity: 0;
      transition: opacity 0s;
    }
    &:hover {
      .key-name {
        display: none;
      }
      .key-info {
        display: block;
      }
    }
  }
  &.hex_1 {
    svg {
      &:nth-child(1){
        path {
          fill: $yellow;
        }
      }
      &:nth-child(2){
        path {
          fill: $red;
        }
      }
      &:nth-child(3){
        path {
          fill: $green;
        }
      }
      &:nth-child(4){
        path {
          fill: $yellow;
        }
      }
      &:nth-child(5){
        path {
          fill: $red;
        }
      }
      &:nth-child(6){
        path {
          fill: $green;
        }
      }
    }
  }
  &.sboccia {
    transform: scale(1,1) rotate(0deg);
    svg {
      opacity: 1;
      text {
        opacity: 1;
        transition: opacity 1s 2.5s;
      }
    }
  }
  .key-info {
    display: none;
  }
}

#clip-1 {
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}

#clip-2 {
  top: 10.27vmin;
  right: 0;
  transform: rotate(60.05deg);
  .sboccia & {
    transition-delay: .5s;
  }
}

#clip-3 {
  bottom: 10.27vmin;
  right: 0;
  transform: rotate(120.05deg);
  .sboccia & {
    transition-delay: .8s;
  }
}

#clip-4 {
  bottom: 0;
  left: 50%;
  transform: translatex(-50%) rotate(-180deg);
  .sboccia & {
    transition-delay: 1.1s;
  }
}

#clip-5 {
  bottom: 10.27vmin;
  left: 0;
  transform: rotate(-120.05deg);
  .sboccia & {
    transition-delay: 1.4s;
  }
}

#clip-6 {
  top: 10.27vmin;
  left: 0;
  transform: rotate(-60.05deg);
  .sboccia & {
    transition-delay: 1.7s;
  }
}

.start-animation {
  display: block;
  position: absolute;
  left: 5%;
  top: 10%;
  padding: 0 20px;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #ddd;
  cursor: pointer;
  &:before {
    content: "start animation";
    font-size: 1em;
  }
  &.active {
    &:before {
      content: "reverse animation";
    }
  }
}

.company-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #444;
  font-size: 2.5vmin;
  text-align: center;
  font-family: sans-serif;
  width: 19vmin;
  margin: 0;
  opacity: 0;
  transition: opacity 0s;
  span {
    display: block;
  }
  .sboccia & {
    opacity: 1;
    transition: opacity 1s 2s;
  }
}
